@model IEnumerable<Wedding.ef.Entities.Invitation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="SendEmails">Send Emails</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendees.ElementAt(0).FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendees.ElementAt(0).LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendees.ElementAt(0).FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendees.ElementAt(0).LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentTimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rsvp.IsAttending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rsvp.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rsvp.Timestamp)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Attendees.ElementAt(0).FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attendees.ElementAt(0).LastName)
                </td>
                @if (item.Attendees.ElementAtOrDefault(1) != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendees.ElementAt(1).FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendees.ElementAt(1).LastName)
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.SendTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentTimeStamp)
                </td>
                @if (item.Rsvp != null)
                {
                    <td>
                        @if (item.Rsvp.IsAttending)
                        {
                            <div>Yes</div>
                        }
                        else
                        {
                            <div>No</div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rsvp.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rsvp.Timestamp)
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
