@model Wedding.ef.Entities.Invitation?

<body>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column align-items-center justify-content-center">
        <h2>The Wedding</h2>
        <h1>Ciara &amp; Ian</h1>
        <p>
            <span class="wedding-date">04.10.2024</span>
        </p>
        <a href="#about" class="btn-get-started scrollto">
            <i class="bi bi-chevron-double-down"></i>
        </a>
    </section><!-- End Hero -->
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1>Ciara &amp; Ian</h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a class="nav-link scrollto active" href="#hero">Home</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="#about">Bride & Groom</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="#when">The Big Day</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="#accommodation">Accommodation</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="#day2">Day 2</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="#rsvp">RSVP</a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <section id="about" class="about">
            <div class="container">

                <div class="row no-gutters">
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
                    <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                        <div class="content d-flex flex-column justify-content-center">
                            <h3>Ciara &amp; Ian are getting married!</h3>
                            <p>
                                We are getting married on Friday the 4th of October 2024 and would love if you could join us.
                            </p>
                            <div class="row">
                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-balloon-heart"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="@((new DateTime(2024, 10, 4, 12, 0, 0) - DateTime.UtcNow).TotalDays)" data-purecounter-duration="1" class="purecounter"></span>
                                        <p>Days until the big day! The countdown is on.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br />
        <hr />


        <section id="when" class="when">
            <div class="container">

                <div class="row no-gutters">
                    <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                        <div class="content d-flex flex-column justify-content-center">
                            <h3 class="section-title">Location</h3>
                            <p>
                                The entire ceremony &amp; wedding celebrations will be taking place at Clonabreany House, an Irish Country House and Estate just one hour from Dublin and 15 minutes from Kells, County Meath.
                            </p>
                            <p>Please note that unfortunately we cannot accommodate children at the venue - thank you for understanding.</p>
                            <p>Full Address - Clonabreany House, Crossakiel, Co. Meath, A82 R9C8.</p>
                            <br />
                        </div><!-- End .content-->
                    </div>
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
                    @* <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div> *@
                </div>

                <br />
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2361.0701005778565!2d-7.065628523841124!3d53.717013572399146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485dfa0df9bc4b57%3A0x490d6963d22935a0!2sClonabreany%20House!5e0!3m2!1sen!2sie!4v1708631170632!5m2!1sen!2sie" width="100%" height="450" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                <br />
                <hr />

                <div class="section-title">
                    <h2>Timeline</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="timeline-item">
                            <h4><i class="bi bi-car-front-fill"></i>14:00 - Guest Arrival</h4>
                            <p>Guests arrive on the grounds and are greeted by the grooms party.</p>
                        </div>

                        <div class="timeline-item">
                            <h4><i class="bi bi-balloon-heart"></i>15:00 - Wedding Ceremony</h4>
                            <p>Join us for a short marriage ceremony in the ceremony room.</p>
                        </div>

                        <div class="timeline-item">
                            <h4><i class="bi bi-cup-straw"></i>15:30 - Drinks Reception</h4>
                            <p>Drinks reception hosted in the main house, with finger food, drinks, teas and coffees.</p>
                        </div>

                        <div class="timeline-item">
                            <h4><i class="bi bi-cake"></i>18:00 - Dinner</h4>
                            <p>4 course meal in the dining room.</p>
                        </div>

                        <div class="timeline-item">
                            <h4><i class="bi bi-speaker"></i>21:00 to Late</h4>
                            <p>Music, Dancing, Ties on Heads, Knee Slides, Shots of Baby Guinness!!!!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <section id="accommodation" class="accommodation">
            <div class="container">

                <div class="section-title">
                    <h2>Accommodation</h2>
                </div>

                <div class="row no-gutters">
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
                    <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                        <div class="content d-flex flex-column justify-content-center">
                            <p>There is limited accommodation at Clonabreany House. The rooms available on-site are allocated by the Bride and Groom. If you have been allocated a room on-site you will have already been notified by either the Bride or Groom.</p>
                            <p>For those not staying at the venue, Clonabreany have recommended a range of local accommodation near by listed below.</p>
                        </div><!-- End .content-->
                    </div>
                </div>
                <br />

                <div class="row">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Distance</th>
                                <th>Contact</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                                <td>Clonabreany Lodge B&B</td>
                                <td>2 minutes</td>
                                <td>0863849873</td>
                            </tr>
                            <tr>
                                <td>Meadow View self-catering B&B</td>
                                <td>2 minutes</td>
                                <td>0872364612 or catherinefriary@gmail.com</td>
                            </tr>
                        <tr>
                            <td>River Wood self-catering B&B</td>
                            <td>2 minutes</td>
                            <td>0872364612 or catherinefriary@gmail.com</td>
                        </tr>
                            <tr>
                                <td>Ballinglough self catering Log Cabin</td>
                                <td>5 minutes</td>
                                <td><a href="https://www.booking.com/Share-Yy0O1D">Booking.com link</a></td>
                            </tr>
                        <tr>
                                <td>Headfort Arms Hotel, Kells</td>
                                <td>15 minutes</td>
                                <td>0469240063 or <a href="www.headfortarms.ie">www.headfortarms.ie</a></td>
                            </tr>
                            <tr>
                                <td>The Fincourt, Oldcastle</td>
                                <td>15 minutes</td>
                                <td>0498541153 or <a href="www.fincourt.com">www.fincourt.com</a></td>
                            </tr>
                            <tr>
                                <td>The Lawrence Hotel, Athboy</td>
                                <td>15 minutes</td>
                                <td>0469487001 or <a href="www.thelawrence.ie">www.thelawrence.ie</a></td>
                            </tr>
                            <tr>
                                <td>Tom Blake House B&B, Kells</td>
                                <td>15 minutes</td>
                                <td>0871091252 or 0877189507 or tomblakehouse@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Marianne Cottage, Clonmellon</td>
                                <td>15 minutes</td>
                                <td>0863733644 or Richard_jball@yahoo.co.uk</td>
                            </tr>
                            <tr>
                                <td>Fennor Lodge, Oldcastle</td>
                                <td>20 minutes</td>
                                <td>0861054840</td>
                            </tr>
                            <tr>
                                <td>Teltown House B&B, Teltown</td>
                                <td>30 minutes</td>
                                <td>0469023239 or 0876659022</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <hr />

        <section id="day2" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Day 2</h2>
                    <p>The following day 5th October 2024, we will be having a post wedding debrief in Roddy Bolands, Rathmines, Dublin 6 from 7:00pm. Expect music, finger food and maybe a few more baby guinness!!</p>
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2383.235092651427!2d-6.267957323871052!3d53.32114387228197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670c02f9926b13%3A0xb29e1b5565fddc44!2sRody%20Bolands!5e0!3m2!1sen!2sie!4v1708631327550!5m2!1sen!2sie" width="600" height="450" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>


            </div>
        </section>

        <section id="rsvp" class="rsvp section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>RSVP</h2>
                    @if (Model == null)
                    {
                        <p>Please use the link you were sent to RSVP :)</p>
                    }
                    else
                    {
                        var attendees = "";
                        if (Model.Attendees.Count == 1)
                        {
                            attendees = $"{Model.Attendees.First().FirstName} {Model.Attendees.First().LastName}";
                        }
                        else if (Model.Attendees.Count == 2)
                        {
                            attendees = $"{Model.Attendees.First().FirstName} {Model.Attendees.First().LastName} & {Model.Attendees.ElementAt(1).FirstName} {Model.Attendees.ElementAt(1).LastName}";
                        }

                        <p>Hi @attendees,</p>
                        <p>We would love if you could join us on our wedding day. Please let us know if you are attending by RSVPing below.</p>
                        <br />
                        <p>If you have any additional information we should know about, such as dietary requirements or if you know you will not be attending day 2, please let us know below in the notes box.</p>
                        <br />
                        <p>Any questions feel free to reach out to either one of us. Thanks x</p>
                    }
                </div>

                @if (Model != null)
                {
                    <hr />
                    <div class="row">
                        <div class="col-md-6">

                            @if (Model.Rsvp != null)
                            {
                                var isAttending = Model.Rsvp.IsAttending ? "Yes" : "No";

                                <table class="table">
                                    <thead>
                                    <th>@Html.DisplayNameFor(a => a.Rsvp.IsAttending)</th>
                                    <th>@Html.DisplayNameFor(a => a.Rsvp.Timestamp)</th>
                                    <th>@Html.DisplayNameFor(a => a.Rsvp.Notes)</th>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>@isAttending</td>
                                            <td>@Html.DisplayFor(a => a.Rsvp.Timestamp)</td>
                                            <td>@Html.DisplayFor(a => a.Rsvp.Notes)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p></p>
                            }
                            else
                            {
                                <form asp-action="Rsvp">

                                    <input type="hidden" name="rsvpid" value="@Model.PublicId" />

                                    <label class="control-label">RSVP: </label>
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" value="true" name="rsvp" id="btnradio1" autocomplete="off" required="required">
                                        <label class="btn btn-outline-primary" for="btnradio1">Attending</label>

                                        <input type="radio" class="btn-check" value="false " name="rsvp" id="btnradio2" autocomplete="off">
                                        <label class="btn btn-outline-primary" for="btnradio2">Not Attending</label>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Notes:</label>
                                        <textarea id="notes" name="notes" class="form-control" rows="5" placeholder="Dietry Requirements etc."></textarea>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <input type="submit" value="Send Response" class="btn btn-primary" />
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                }

            </div>
        </section><!-- End Testimonials Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Designed by
                <strong>
                    <span>göblmedia</span>
                </strong>.
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/waypoints/noframework.waypoints.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>

</body>