@model Wedding.ef.Entities.Rsvp

@{
    ViewData["Title"] = "RsvpConfirmation";
}

<h1>RSVP</h1>

<div>
    <p class="text-bg-success">Thanks for your Response! If anything changes just message one of us :)</p>
    <hr />

    <table class="table-bordered">
        <tbody>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.IsAttending)</th>
            <td>

                @if (Model.IsAttending)
                {
                    <p>Yes</p>
                }
                else
                {
                    <p>No</p>
                }
            </td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Timestamp)</th>
            <td>@Html.DisplayFor(model => model.Timestamp)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Notes)</th>
            <td>@Html.DisplayFor(model => model.Notes)</td>
        </tr>
        </tbody>
    </table>
</div>
